[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
jc = "*"
molecule = {extras = ["docker"], version = "*"}
molecule-plugins = {extras = ["docker"], version = "*"}
jmespath = "*"
netaddr = "*"

[dev-packages]
